.messageBox {
	background: #f3f3f3;
	border-radius: 20px;
	padding: 5px 20px;
	color: white;
	display: inline-block;
	max-width: 80%;
}

.messageText {
	width: 100%;
	letter-spacing: 0;
	float: left;
	font-size: 1.1em;
	word-wrap: break-word;
}

.messageText img {
	vertical-align: middle;
}

.messageContainer {
	display: flex;
	justify-content: flex-end;
	padding: 0 5%;
	margin-top: 3px;
}

.sentText {
	text-align: center;
	font-family: Helvetica;
	color: #828282;
	letter-spacing: 0.3px;
}

.sentTime {
	text-align: left;
	font-size: 9px;
	font-family: Helvetica;
	color: #828282;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyEnd {
	justify-content: flex-end;
}

.colorWhite {
	color: white;
}

.colorDark {
	color: #353535;
}

.backgroundBlue {
	background: black;
}

.backgroundLight {
	background: #f3f3f3;
}
